.container {
  min-height: 100vh;
  position: relative; /* Push footer to page bottom */
  padding-bottom: 96px;
}

.header {
  border-bottom: 1px solid #eaeaea;
  padding: 32px 16px;
  display: grid;
  gap: 16px;
  justify-items: center;
  text-align: center;
}

.header__icon {
  width: 32px;
  height: 8px;
  transform: rotate(-11.25deg);
  border-radius: 4px;
  background: darkcyan;
  margin-bottom: 16px;
}

.header__paragraph {
  margin: 0;
}

.main {
  padding: 48px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eaeaea;
  padding: 32px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
